@charset "UTF-8";
#wrapper {
    height: auto;
}
main .container {
	width: 100%;
}
main #page-title{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
main #page-title-inner{
    display: block;
    position: relative;;
    text-align: center;
    margin: 0 auto;
}
main #page-title-inner-icon {
    position: absolute;
    z-index: 2;
    left: 10%;
    top: 10%;
    width: 18%;
	transform:scale(1);
	transition: all 1s;
	cursor: default;
}
main #page-title-inner-icon:hover {
    transform-origin: center;
    transform: scale(1.2);
    transition: all 1s;
}
main #page-title-aminal03 {
    position: absolute;
    z-index: 2;
    right: 10%;
	bottom: 8%;
	width: 18%;
	transform:scale(1);
	transition: all 1s;
	cursor: default;
}
main #page-title-aminal03:hover {
	transform-origin:center;
	transform:scale(1.2);
	transition: all 1s;
}

main #page-title-inner-bg{
    position: relative;
}
main #page-title-inner-bg-image {
    width: 100%;
}
main #page-title-inner-bg-text{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 40px;
	display: flex;
	flex-flow: column;
}
main #page-title-inner-bg h1 {
    font-size: 4vw;
    font-weight: bold;
    color: #4a9143;
    letter-spacing: 5px;
	line-height: 1;
}
main #page-title-inner-bg span {
    font-size: 3vw;
    color: #513813;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
main #page-title-inner-bg-sentences {
    height: 10vw;
}
main .container h3 {
    font-size: 5vw;
    font-weight: bold;
    color: #4a9143;
    letter-spacing: 5px;
    text-align: center;
}
main .container #page-content-inner {
    width: 100%;
	margin-top: 20px;
}
main .container #page-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
	height: auto;
	background-blend-mode: multiply;
	position: relative;
	padding: 100px 0 50px 0;
	margin: 0 auto 50px;
}
main .container #page-content::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	top:0;
	background-image: url("../images/top-about-overline.svg");
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
main .container #page-content::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	bottom:0;
	background-image: url("../images/top-about-underline.svg");
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
main .container #page-content-inner ul {
	flex-flow: column;
	display: flex;
	justify-content: space-between;
	padding: 0;
}
main .container #page-content-inner li {
	margin-bottom: 30px;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
}
main .container #page-content-inner li .page-content-inner-block {
    position: relative;
    width: 100%;
}
main .container #page-content-inner li .page-collabo-content-image {
    width: 280px;
}
main .page-content-inner-bg-sentences {
    margin-bottom: 10px;
    height: 36px;
    width: auto;
}
main .container #page-content-inner li .page-lecture-content-animetion{
	 margin: 10px auto 0;
	 transform: translateY(0px);
	transition-duration: 0.5s;
}
main .container #page-content-inner li:hover .page-lecture-content-animetion {
    width: 100%;
    cursor: default;
    transform: translateY(-10px);
    transition-duration: 0.5s;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.page-lecture-content-image {
    width: 90%;
}
main .container #page-content-inner li .page-content-inner-block .page-content-icon {
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-icon {
    width: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
	transform-origin:center;
	animation:icon 1s both infinite;
}
@keyframes icon {
0% {
	transform:translateY(0);
	opacity:1;
}
10% {
	transform:translateY(-5px);
	opacity:1;
}
20% {
	transform:translateY(0px);
	opacity:1;
}
30% {
	transform:translateY(5px);
	opacity:1;
}
40% {
	transform:translateY(0);
	opacity:1;
}
100% {
	transform:translateY(0);
	opacity:1;
}
}
main .container #page-content-inner li .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
	z-index: 2;
	transform: translateY(-30px);
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
	z-index: 2;
	transform: translateY(-30px);
	transform-origin:center;
	animation:bubble 1s both infinite;
}
@keyframes bubble {
0% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
10% {
	transform:translateY(-30px)rotate(5deg);
	opacity:1;
}
20% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
30% {
	transform:translateY(-30px)rotate(-5deg);
	opacity:1;
}
40% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
100% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
}
main .container #page-content-inner li .page-content-inner-block .page-content-image {
    width: 230px;
}
main .container #page-content-inner li p.page-content-inner-text{
	font-size: 3.6vw;
	font-weight: bold;
	color: #000;
	letter-spacing: 0;
	line-height: 1.6;
	margin: 10px 0 0;
}
main .page-performance-centence-image-sp {
	display: block;
	margin: 50px 0;
}
main .page-performance-centence-image {
    display: none;
}
main .container #performance #performance-title {
    background-color: #418b8e;
    color: #fff;
    padding: 13px;
    border-radius: 25px;
    text-align: center;
}
main .container #performance #performance-title span{
	font-size: 70%;
}
main .container #performance ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;
	margin-top: 10px;
	padding: 0;
}
main .container #performance ul li {
    display: flex;
    flex-flow: row wrap;
	margin-bottom: 10%;
}
main .page-performance-block {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
main .container #performance ul li:last-child{
}
main .container #performance ul li .page-performance-title-block {
    display: flex;
	justify-content: flex-start;
	flex-flow: column;
	align-items: flex-start;
	height: auto;
	width: 55%;
}
main .container #performance ul li .page-performance-title-block img{
	height: 120px;
}
main .container #performance ul li .page-performance-title-block img.page-performance-title-aichi{
	height: 110px;
}
main .container #performance ul li .page-performance-title-block h2 {
    font-size: 4vw;
	font-weight: bold;
	color: #418b8e;
	letter-spacing: 0;
	margin: 0 0 0 0px;
	line-height: 1.2;
	width: 100%;
}
.page-performance-right-block {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
    width: 40%;
}
.page-performance-ex {
    font-size: 2.4vw;
	margin-top: 10px;
    line-height: 1.2;
}
main .container #performance .page-performance-img-block {
    width: 100%;
}
main .container #performance .page-performance-img-block ul li {
	width: 32%;
    margin-bottom: 0px;        
}
.example-image-link {
    width: 100%;
}
main .container #performance .page-performance-img-block-title {
    background-color: #513813;
	color: #fff;
	text-align: center;
	padding: 6px;
	height: auto;
	margin-top: 0;
    letter-spacing: 0.1rem;
}
main .container #performance .page-performance-img-block-title span {
    font-size: 10px;
}
.page-performance-img-slide {
    width: 100%;
}
main .container #performance ul li .page-performance-image {
    width: 100%;
	height: auto;
}
main .container #performance ul li h3 {
    font-size: 3.2vw;
    font-weight: bold;
    color: #418b8e;
    letter-spacing: 0.5rem;
    text-align: center;
    margin-top: 15px;
    display: block;
    height: 50px;
    line-height: 1.2;
}
main .container #performance ul li p.page-performance-subtitle {
    font-size: 3vw;
	line-height: 1.6;
	text-align: justify;
	margin: 10px 0 0 0px;
	width: 100%;
}
main .container #cta {
    margin: 110px auto auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
main .container #cta h2 {
    font-size: 4.2vw;
    font-weight: bold;
    color: #f04f4c;
    letter-spacing: 0;
}
main .page-cta-centence-sp {
   height: auto;
    width: 47%;
    margin: 20px auto 30px;
	display: block;
}
main .page-cta-centence {
    display: none;
}
main .container #cta .button {
    width: 100%;
    height: auto;
    transition: background-color 2s;
    display: block;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    max-width: 320px;
    margin: 0 auto;
    transform-origin: 0 0 0;
    z-index: 1;
    border-radius: 31px;
    border: 2px solid #fff;
    cursor: pointer;
}
main .container #cta .button:hover{
	border-radius: 31px;
	border: 2px solid #fd9945;
}
main .container #cta .button:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
}
main .container #cta .button::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
main .container #cta .button:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
	background-color: #fff;
}
main .container #cta .button a {
    width: 100%;
    height: auto;
    font-size: 4vw;
    max-width: 360px;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    position: relative;
    background-color: #fd9945;
    overflow: hidden;
    text-decoration: none;
}
main .container #cta .button:hover a {
    color: #fd9945;
}
main .container #cta .button a:hover{
	opacity: 1;
	background-color: transparent;
}
main .container #cta .button a span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.5;
	position: relative;
	overflow: hidden;
}
main .container #cta .button a span::after {
    content: "";
    width: 12px;
    height: 12px;
    right: 20px;
    border: 0px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    margin-top: -7px;
	transition: border 2s;
}
main .container #cta .button a:hover span::after {
    border-top: solid 2px #fd9945;
    border-right: solid 2px #fd9945;
	transition: border 2s;
}
@media only screen and (min-width: 600px) {
main {
	max-width: 600px;
}
main .container {
	padding: 50px 0 0 0;
}
main #page-title-inner-icon {
    left: 10%;
    top: 10%;
    width: 18%;
}
main #page-title-aminal03 {
    right: 10%;
    bottom: 8%;
    width: 18%;
}
main #page-title-inner-bg-image {
    width: 600px;
}
main #page-title-inner-bg-text{
    top: 50px;
}
main #page-title-inner-bg h1 {
    font-size: 30px;
}
main #page-title-inner-bg span {
    font-size: 14px;
    margin-bottom: 20px;
}
main #page-title-inner-bg-sentences {
    height: 60px;
}
main .container h3{
	font-size: 24px;
}
main .container #page-content-inner {
    margin-top: 50px;
}
main .container #page-content {
	padding: 100px 0;
	margin: 0 auto 100px;
}
main .container #page-content-inner ul {
    flex-flow: column;
}
main .container #page-content-inner li .page-lecture-content-image {
    width: 230px;
}
main .page-content-inner-bg-sentences {
    margin-bottom: 10px;
    height: 30px;
    width: auto;
}
main .container #page-content-inner li .page-lecture-content-animetion{
	 margin: 20px auto 0;
}
main .container #page-content-inner li:hover .page-lecture-content-animetion {
    width: 100%;
}
main .container #page-content-inner li .page-content-inner-block .page-content-icon {
    width: 80px;
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-icon {
    width: 80px;
}
main .container #page-content-inner li .page-content-inner-block .page-content-speechbubble {
    width: 200px;
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}
main .container #page-content-inner li p.page-content-inner-text {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    letter-spacing: 0;
    line-height: 1.6;
    margin: 10px 0 0;
}
main .container #page-content-inner li .page-content-inner-block .page-content-image {
    width: 230px;
}
main .container #performance ul li {
	width: 65%;
	margin: 0 auto 65px;
}
main .page-performance-block {
	width: 100%;
	margin-bottom: 10px;
}
main .container #performance ul li .page-performance-title-block {
	width: 46%;
}
main .container #performance ul li .page-performance-title-block img{
	height: 120px;
}
main .container #performance ul li .page-performance-title-block img.page-performance-title-aichi{
	height: 110px;
}
main .container #performance ul li .page-performance-title-block h2 {
    font-size: 24px;
	letter-spacing: 3px;
	margin: 0 0 0 0px;
	line-height: 1.2;
	width: 200px;
}
.page-performance-ex {
    font-size: 0.8rem;
	margin-top: 10px;
}
main .container #performance .page-performance-img-block-title {
	padding: 6px;
}
main .container #performance .page-performance-img-block-title span {
    font-size: 11px;
}
main .container #performance .page-performance-img-block ul {
    width: 100%;
	margin-top: 10px;
}
main .container #performance .page-performance-img-block ul li {
    width: 30%;
    margin: 2% 0 0;
}
main .container #performance ul li .page-performance-image {
    width: 180px;
	height: 140px;
}
main .container #performance ul li h3 {
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 15px;
	height: 50px;
	line-height: 1.2;
}
main .container #performance ul li p.page-performance-subtitle {
    font-size: 13px;
	line-height: 1.6;
	margin: 10px 0 0 0px;
	width: 180px;
}
main .container #cta {
	margin: 110px auto auto;
}
main .container #cta h2{
	font-size: 24px;
}
main .container #cta .button{
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
}
main .container #cta .button:hover{
	border-radius: 31px;
}
main .container #cta .button::before {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
main .container #cta .button a{
	width: 100%;
	height: 60px;
	max-width: 320px;
	font-size: 24px;
}
main .container #cta .button a span {
    width: 100%;
    height: 100%;
    line-height: 2.5;
}
main .container #cta .button a span::after {
    width: 14px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
	right: 30px;
}
}
@media only screen and (min-width: 1024px) {
main {
	max-width: 100%;
}
main .container {
    width: 960px;
}
main .page-performance-centence-image-sp{
	display: none;
}
main .page-performance-centence-image{
	display: block;
	margin: 50px 0;
}
main #page-title-inner-icon {
	left: 200px;
	top: 60px;
	width: 160px;
}
main #page-title-aminal03 {
    right: 180px;
    bottom: 60px;
    width: 150px;
}
main #page-title-inner-bg-image {
    width: 861px;
}
main #page-title-inner-bg-text{
    top: 80px;
}
main #page-title-inner-bg h1 {
    font-size: 38px;
}
main #page-title-inner-bg-sentences {
    height: 84px;
}
main .container #page-content {
	padding: 100px 0;
	margin: 0 auto 136px;
}
main .container #page-content-inner ul {
	flex-flow: nowrap;
}
main .container #page-content-inner li .page-collabo-content-image {
    width: 280px;
}
main .page-content-inner-bg-sentences {
    margin-bottom: 10px;
    height: 40px;
    width: auto;
}
main .container #page-content-inner li .page-lecture-content-image {
    width: 270px;
}
main .container #page-content-inner li .page-lecture-content-animetion{
	 margin: 20px auto 0;
}
main .container #page-content-inner li:hover .page-lecture-content-animetion {
    width: 100%;
}
main .container #page-content-inner li .page-content-inner-block .page-content-icon {
    width: 80px;
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-icon {
    width: 80px;
}
main .container #page-content-inner li .page-content-inner-block .page-content-speechbubble {
    width: 200px;
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}
main .container #page-content-inner li .page-content-inner-block .page-content-image {
    width: 230px;
}
main .container #performance ul {
    width: 100%;
	margin-top: 50px;
}
main .container #performance ul li {
    width: 48%;
    margin: 0 0 65px;
}
main .page-performance-block {
	/*! margin-bottom: 10px; */
}
main .container #performance ul li .page-performance-title-block {
	width: 200px;
}
main .container #performance ul li .page-performance-title-block img{
	height: 120px;
}
main .container #performance ul li .page-performance-title-block img.page-performance-title-aichi{
	height: 110px;
}
main .container #performance ul li .page-performance-title-block h2 {
    font-size: 24px;
	letter-spacing: 3px;
	margin: 0 0 0 0px;
	line-height: 1.2;
	width: 200px;
}
.page-performance-ex {
    font-size: 0.9rem;
	margin-top: 10px;
}
main .container #performance .page-performance-img-block-title {
	padding: 6px;
}
main .container #performance .page-performance-img-block-title span {
    font-size: 14px;
}
main .container #performance .page-performance-img-block ul {
    width: 100%;
	margin-top: 10px;
}
main .container #performance ul li .page-performance-image {
    width: 220px;
	height: 180px;
}
main .container #performance ul li h3 {
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 15px;
	height: 50px;
	line-height: 1.2;
}
main .container #performance ul li p.page-performance-subtitle {
    font-size: 13px;
	line-height: 1.6;
	margin: 10px 0 0 0px;
	width: 200px;
}
main .container #cta {
	margin: 110px auto auto;
}
main .page-cta-centence-sp {
   display: none;
}
main .page-cta-centence {
    height: 54px;
    width: auto;
    margin: 20px auto 30px;
	display: block;
}
main .container #cta .button{
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
}
main .container #cta .button:hover{
	border-radius: 31px;
}
main .container #cta .button::before {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
main .container #cta .button a{
	width: 100%;
	height: 60px;
	max-width: 320px;
	font-size: 24px;
}
main .container #cta .button a span {
    width: 100%;
    height: 100%;
    line-height: 2.5;
}
main .container #cta .button a span::after {
    width: 14px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
	right: 30px;

}
}
@media only screen and (min-width: 1281px) {
main .container {
    width: 960px;
}
main #page-title-inner{
    width: 862px;
}
main #page-title-inner-icon {
	left: 30px;
	top: 60px;
	width: 160px;
}
main #page-title-aminal03 {
    right: 10px;
    bottom: 60px;
    width: 150px;
}
main #page-title-inner-bg{
    position: relative;
}
main #page-title-inner-bg-image {
    width: 861px;
}
main #page-title-inner-bg-text{
    width: 100%;
    top: 80px;
	display: flex;
	flex-flow: column;
}
main #page-title-inner-bg h1 {
    font-size: 38px;
    letter-spacing: 5px;
	line-height: 1;
}
main #page-title-inner-bg span {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
}
main #page-title-inner-bg-sentences {
    height: 84px;
}
main .container h3{
	font-size: 24px;
    letter-spacing: 5px;
}
main .container #page-content-inner {
    width: 100%;
    margin-top: 50px;
}
main .container #page-content {
	padding: 100px 0;
	margin: 0 auto 136px;
}
main .container #page-content::before{
	width: 960px;
	height: 50px;
}
main .container #page-content::after{
	width: 960px;
	height: 50px;
}
main .container #page-content-inner ul {
	flex-flow: nowrap;
	display: flex;
	justify-content: space-between;
}
main .container #page-content-inner li .page-collabo-content-image {
    width: 280px;
}
main .page-content-inner-bg-sentences {
    margin-bottom: 10px;
    height: 40px;
    width: auto;
}
main .container #page-content-inner li .page-lecture-content-image {
    width: 270px;
}
main .container #page-content-inner li .page-lecture-content-animetion{
	 margin: 20px auto 0;
}
main .container #page-content-inner li:hover .page-lecture-content-animetion {
    width: 100%;
}
main .container #page-content-inner li .page-content-inner-block .page-content-icon {
    width: 80px;
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-icon {
    width: 80px;
}
main .container #page-content-inner li .page-content-inner-block .page-content-speechbubble {
    width: 200px;
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}
main .container #page-content-inner li .page-content-inner-block .page-content-image {
    width: 230px;
}
main .container #page-content-inner li p.page-content-inner-text{
	font-size: 13px;
	letter-spacing: 0;
	line-height: 1.6;
	margin: 10px 0 0;
}
main .container #performance #performance-title {
    padding: 13px;
}
main .container #performance #performance-title span{
	font-size: 14px;
}
main .container #performance ul {
    width: 100%;
	margin-top: 50px;
}
main .container #performance ul li {
	margin-bottom: 65px;
}
main .page-performance-block {
	width: 444px;
	margin-bottom: 10px;
}
main .container #performance ul li .page-performance-title-block {
	width: 200px;
}
main .container #performance ul li .page-performance-title-block img{
	height: 120px;
}
main .container #performance ul li .page-performance-title-block img.page-performance-title-aichi{
	height: 110px;
}
main .container #performance ul li .page-performance-title-block h2 {
    font-size: 24px;
	letter-spacing: 3px;
	margin: 0 0 0 0px;
	line-height: 1.2;
	width: 200px;
}
.page-performance-ex {
    font-size: 0.9rem;
	margin-top: 10px;
}
main .container #performance .page-performance-img-block-title {
	padding: 6px;
}
main .container #performance .page-performance-img-block-title span {
    font-size: 14px;
}
main .container #performance .page-performance-img-block ul {
    width: 100%;
	margin-top: 10px;
}
main .container #performance ul li .page-performance-image {
    width: 220px;
	height: 180px;
}
main .container #performance ul li h3 {
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 15px;
	height: 50px;
	line-height: 1.2;
}
main .container #performance ul li p.page-performance-subtitle {
    font-size: 13px;
	line-height: 1.6;
	margin: 10px 0 0 0px;
	width: 200px;
}
main .container #cta h2{
	font-size: 24px;
    letter-spacing: 4px;
}
main .container #cta .button{
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
}
main .container #cta .button:hover{
	border-radius: 31px;
}
main .container #cta .button::before {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
main .container #cta .button a{
	width: 100%;
	height: 60px;
	max-width: 320px;
	font-size: 24px;
}
main .container #cta .button a span {
    width: 100%;
    height: 100%;
    line-height: 2.5;
}
main .container #cta .button a span::after {
    width: 14px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
	right: 30px;
}
}