@charset "UTF-8";
#wrapper {
    height: auto;
}
main {
	height: auto
}
main #page-title{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
main #page-title-inner{
    display: block;
    position: relative;
    width: 435px;
    text-align: center;
    margin: 0 auto;
}
main #page-title-aminal01 {
    position: absolute;
    z-index: 2;
    right: 50px;
    top: 40px;
    width: 60px;
    transform: scale(1);
    transition: all 1s;
    cursor: pointer;
}
main #page-title-aminal01:hover {
	transform-origin: center;
	transform: scale(1.2);
	transition: all 1s;
}
main #page-title-aminal02 {
    position: absolute;
    z-index: 2;
    left: 60px;
    bottom: 20px;
    width: 50px;
    transform: scale(1);
    transition: all 1s;
    cursor: pointer;
}
main #page-title-aminal02:hover {
	transform-origin: center;
	transform: scale(1.2);
	transition: all 1s;
}
main #page-title-inner-bg{
    position: relative;
}
#page-title-inner-bg-image {
    width: 400px;
}
main #page-title-inner-bg-text{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 40px;
	display: flex;
	flex-flow: column;
}
main #page-title-inner-bg h1 {
    font-size: 20px;
    font-weight: bold;
    color: #4a9143;
    letter-spacing: 5px;
    line-height: 1;
}
main #page-title-inner-bg span {
    font-size: 10px;
    color: #513813;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
main #page-title-inner-bg-sentences {
    height: 30px;
}
main .container h3 {
    font-size: 18px;
    font-weight: bold;
    color: #4a9143;
    letter-spacing: 5px;
    text-align: center;
    line-height: 1.2;
	margin-bottom: 50px;
}
main .container #page-content-inner {
    width: 100%;
    margin-top: 50px;
}
main .container #page-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
	height: auto;
	background-blend-mode: multiply;
	position: relative;
	padding: 100px 0;
	margin: 0 auto 136px;
}
main .tab {
    padding: 100px 0;
}
main .tab::before {
    content: "";
    position: absolute;
    width: 405px;
    height: 50px;
    top: 0;
    background-image: url("../images/top-about-overline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main .tab::after {
    content: "";
    position: absolute;
    width: 405px;
    height: 50px;
    bottom: 0;
    background-image: url("../images/top-about-underline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 340px;
}
main .tab-contener {
    display: flex;
    flex-flow: column;
}
main #performance-button {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
/*******************************
			ボタン1
*******************************/
.active .performance-button-name01 {
    width: 200px;
	height: 40px;
	border-radius: 31px;
	border: 2px solid #fff;
	background-color: #418b8e;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.active .btn-link01 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #418b8e;
	text-decoration: none;
}
.performance-button-name01 {
    width: 200px;
	height: 40px;
	border-radius: 31px;
	border: 2px solid #418b8e;
	transition: background-color 2s;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	transform-origin: 0 0 0;
	cursor: pointer;
}
.performance-button-name01:hover {
    border-radius: 31px;
    border: 2px solid #fff;
}
.performance-button-name01::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
.performance-button-name01:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
    background-color: #fff;
}
.performance-button-name01 a span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.5;
    position: relative;
    overflow: hidden;
}
.performance-button-name01 a {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #fff;
	text-decoration: none;
}
.performance-button-name01:hover a {
    color: #fff;
}
.performance-button-name01 a:hover {
    opacity: 1;
    background-color: #418b8e;
}
.btn-link01 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
}
/*******************************
			ボタン2
*******************************/
.active .performance-button-name02 {
    width: 200px;
	height: 40px;
	border-radius: 31px;
	border: 2px solid #fff;
	background-color: #418b8e;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.active .btn-link02 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #418b8e;
	text-decoration: none;
}
.performance-button-name02 {
    width: 200px;
	height: 40px;
	border-radius: 31px;
	border: 2px solid #418b8e;
	transition: background-color 2s;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	transform-origin: 0 0 0;
	cursor: pointer;
	margin-top: 10px;
}
.performance-button-name02:hover {
    border-radius: 31px;
    border: 2px solid #fff;
}
.performance-button-name02::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
.performance-button-name02:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
    background-color: #fff;
}
.performance-button-name02 a span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.5;
    position: relative;
    overflow: hidden;
}
.performance-button-name02 a {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #fff;
	text-decoration: none;
}
.performance-button-name02:hover a {
    color: #fff;
}
.performance-button-name02 a:hover {
    opacity: 1;
    background-color: #418b8e;
}
.btn-link02 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
}
/*******************************
			ボタン3
*******************************/
.active .performance-button-name03 {
    width: 200px;
	height: 40px;
	border-radius: 31px;
	border: 2px solid #fff;
	background-color: #418b8e;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.active .btn-link03 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #418b8e;
}
.performance-button-name03 {
    width: 200px;
	height: 40px;
	border-radius: 31px;
	border: 2px solid #418b8e;
	transition: background-color 2s;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	transform-origin: 0 0 0;
	cursor: pointer;
	margin-top: 10px;
}
.performance-button-name03:hover {
    border-radius: 31px;
    border: 2px solid #fff;
}
.performance-button-name03::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
.performance-button-name03:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
    background-color: #fff;
}
.performance-button-name03 a span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.5;
    position: relative;
    overflow: hidden;
}
.performance-button-name03 a {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #fff;
	text-decoration: none;
}
.performance-button-name03:hover a {
    color: #fff;
}
.performance-button-name03 a:hover {
    opacity: 1;
    background-color: #418b8e;
}
.btn-link03 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	text-decoration: none;
}
/*******************************
			ボタン4
*******************************/
.active .performance-button-name04 {
    width: 200px;
	height: 40px;
	border-radius: 31px;
	border: 2px solid #fff;
	background-color: #418b8e;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.active .btn-link04 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #418b8e;
	text-decoration: none;
}
.performance-button-name04 {
    width: 200px;
	height: 40px;
	border-radius: 31px;
	border: 2px solid #418b8e;
	transition: background-color 2s;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	transform-origin: 0 0 0;
	cursor: pointer;
	margin-top: 10px;
}
.performance-button-name04:hover {
    border-radius: 31px;
    border: 2px solid #fff;
}
.performance-button-name04::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
.performance-button-name04:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
    background-color: #fff;
}
.performance-button-name04 a span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.5;
    position: relative;
    overflow: hidden;
}
.performance-button-name04 a {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #fff;
	text-decoration: none;
}
.performance-button-name04:hover a {
    color: #fff;
}
.performance-button-name04 a:hover {
    opacity: 1;
    background-color: #418b8e;
}
.btn-link04 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
}
/*******************************
	ボタンスタイルここまで
*******************************/
@keyframes bubble {
0% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
10% {
	transform:translateY(-30px)rotate(5deg);
	opacity:1;
}
20% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
30% {
	transform:translateY(-30px)rotate(-5deg);
	opacity:1;
}
40% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
100% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
}
/*******************************
			タブ設定
*******************************/
.page-performance-content01 {
    padding: 50px 0;
}
.page-performance-block-title {
    text-align: center;
}
.page-performance-block-contents {
    display: flex;
    flex-flow: column;
}
.page-performance-block-contents .person-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 0 0;
}
.page-performance-text {
    height: auto;
    line-height: 1.6;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}
.page-performance-content--text {
    font-size: 12px;
}
person-box {
    display: flex;
    flex-flow: column;
}
.page-performance-content-img {
    margin: 0 0 10px 0;
}
.name {
    text-align: center;
    line-height: 1.5;
}
.name p {
    font-size: 16px;
    font-weight: bold;
}
.name p span {
    font-size: 18px;
}
#page-performance-block02 {
    display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: auto;
	background-blend-mode: multiply;
	position: relative;
	padding: 100px 0 50px;
}
#page-performance-block02::before {
    content: "";
    position: absolute;
    width: 405px;
    height: 50px;
    top: 0;
    background-image: url("../images/top-about-overline.svg");
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#page-performance-block02::after {
    content: "";
    position: absolute;
    width: 405px;
    height: 50px;
    bottom: 0;
    background-image: url("../images/top-about-underline.svg");
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-performance-content-history {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 0 80px 0;
}
.page-performance-content02 {
    margin: 30px 0 0 0;
}
.page-performance-history-img {
    position: absolute;
}
.page-performance-year {
    width: 70px;
}
.page-performance-history-title {
    margin: 20px 0 10px 0;
    display: flex;
    flex-flow: column;
}
.page-performance-history-title h2 {
    font-size: 15px;
    line-height: 1.3;
    font-weight: bold;
    color: #418b8e;
	margin: 0 0 0 100px;
}
.page-performance-history-text {
    width: 405px;
}
.page-performance-history-text p {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6;
	padding-top: 20px;
}
.position-list h2 {
    font-size: 18px;
    font-weight: bold;
    color: #418b8e;
}
#page-performance-block03 {
    padding: 50px 0;
	position: relative;
}
#page-performance-block03 h3 {
    margin-bottom: 50px;
}
.page-performance-block03-list ul li {
    display: flex;
    flex-flow: nowrap;
    margin: 0 0 30px 0;
}
.position-list {
    width: 150px;
}
.position-list h2 {
    font-size: 15px;
    font-weight: bold;
    color: #418b8e;
}
.name-list {
    width: 255px;
    line-height: 1.3;
    font-size: 16px;
    font-weight: bold;
}
.name-list p {
    margin: 0 0 10px 0;
	font-size: 12px;
}
.position-list ul li:last-child {
	margin-bottom: 0;
}

#page-performance-block04 {
    padding: 100px 0;
	position: relative;
}
#page-performance-block04::before {
    content: "";
    position: absolute;
    width: 405px;
    height: 50px;
    top: 0;
    background-image: url("../images/top-about-overline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.page-performance-block04-list {
    display: flex;
    flex-flow: column;
}
.page-performance-block04-list ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
	width: 301px;
}
.page-performance-block04-list ul li {
    margin: 0 50px 50px;
}
.page-performance-block04-list h2 {
    font-size: 15px;
    font-weight: bold;
    color: #418b8e;
}
.address p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.3;
}
#footer-block {
    text-align: center;
    padding-top: 100px;
}
@media only screen and (min-width: 600px) {
main {
    height: auto;
    padding-bottom: 30px;
    max-width: 600px;
}
main #page-title-inner{
    width: 600px;
}
main #page-title-aminal01 {
    right: 30px;
    top: 80px;
    width: 100px;
}
main #page-title-aminal02 {
    left: 60px;
    bottom: 20px;
    width: 70px;
}
main #page-title-inner-bg{
    position: relative;
}
main #page-title-inner-bg-image {
    width: 600px;
}
main #page-title-inner-bg-text{
    top: 40px;
}
main #page-title-inner-bg h1 {
    font-size: 28px;
}
main #page-title-inner-bg span {
    font-size: 14px;
    margin-bottom: 5px;
}
main #page-title-inner-bg-sentences {
    height: 50px;
    margin-top: 5px;
}
main .container {
    padding: 0;
}
main .container h3{
	font-size: 20px;
}
main .tab::before {
    width: 600px;
}
main .tab::after {
    width: 600px;
}
/*******************************
			ボタン1
*******************************/
.active .performance-button-name01 {
	height: 40px;
}
.active .btn-link01 {
    font-size: 18px;
}
.performance-button-name01 {
	height: 40px;
}
.performance-button-name01:hover {
    border-radius: 31px;
    border: 2px solid #fff;
}
.performance-button-name01 a {
    max-width: 320px;
    font-size: 18px;
}
.btn-link01 {
    max-width: 320px;
    font-size: 18px;
}
/*******************************
			ボタン2
*******************************/
.active .performance-button-name02 {
    width: 200px;
	height: 40px;
}
.active .btn-link02 {
    max-width: 320px;
    font-size: 18px;
}
.performance-button-name02 {
    width: 200px;
	height: 40px;
}
.performance-button-name02 a {
    font-size: 18px;
}
.btn-link02 {
    font-size: 18px;
}
/*******************************
			ボタン3
*******************************/
.active .performance-button-name03 {
    width: 200px;
	height: 40px;
}
.active .btn-link03 {
    font-size: 18px;
}
.performance-button-name03 {
    width: 200px;
	height: 40px;
}
.performance-button-name03 a {
    font-size: 18px;
}
.btn-link03 {
    font-size: 18px;
}
/*******************************
			ボタン4
*******************************/
.active .performance-button-name04 {
    width: 200px;
	height: 40px;
}
.active .btn-link04 {
    font-size: 18px;
}
.performance-button-name04 {
    width: 200px;
	height: 40px;
}
.performance-button-name04 a {
    font-size: 18px;
}
.btn-link04 {
    font-size: 18px;
}
/*******************************
			タブ設定
*******************************/
.page-performance-content01 {
    padding: 50px 0;
}
.page-performance-block-contents .person-box {
    margin: 20px 0 0;
}
.page-performance-text {
    font-size: 16px;
	width: 600px;
}
.page-performance-content--text {
    font-size: 12px;
}
.page-performance-content-img {
    margin: 0 0 10px 0;
}
.name p {
    font-size: 16px;
}
.name p span {
    font-size: 18px;
}
#page-performance-block02 {
	padding: 100px 0 50px;
}
#page-performance-block02::before {
    width: 600px;
}
#page-performance-block02::after {
    width: 600px;
}
.page-performance-content-history {
    margin: 0 0 80px 0;
    align-items: center;
}
.page-performance-history-img {
    position: relative;
}
.page-performance-content02 {
    width: 600px;
}
.page-performance-year {
    width: 90px;
}
.page-performance-history-title {
    margin: 0;
}
.page-performance-history-title h2 {
    font-size: 15px;
	margin: 0;
}
.page-performance-history-text {
    width: 450px;
}
.page-performance-history-text p {
    text-align: justify;
}
.position-list h2 {
    font-size: 18px;
}
#page-performance-block03 {
    padding: 50px 0;
}
#page-performance-block03 h3 {
    margin-bottom: 50px;
}
.page-performance-block03-list {
    width: 405px;
    margin: 0 auto;
}
.page-performance-block03-list ul li {
    margin: 0 0 30px 0;
}
.position-list {
    width: 150px;
}
.position-list h2 {
    font-size: 15px;
}
.name-list {
    width: 255px;
    font-size: 16px;
}
.name-list p {
    margin: 0 0 10px 0;
	font-size: 12px;
}
#page-performance-block04 {
    padding: 100px 0;
}
#page-performance-block04::before {
    width: 600px;
}
.page-performance-block04-list ul {
    margin: 0 auto;
	width: 301px;
}
.page-performance-block04-list ul li {
    margin: 0 50px 50px;
}
.page-performance-block04-list h2 {
    font-size: 15px;
}
.address p {
    font-size: 12px;
    margin-top: 10px;
}
#footer-block {
    padding-top: 100px;
}}
@media only screen and (min-width: 1024px) {
main {
    max-width: 960px;
	height: 5100px;
}
main #page-title-inner{
    width: 862px;
}
main #page-title-inner-icon {
	left: 30px;
	top: 60px;
	width: 160px;
}
main #page-title-aminal01 {
    right: 90px;
    top: 60px;
    width: 130px;
}
main #page-title-aminal02 {
    left: 80px;
    bottom: 60px;
    width: 100px;
}
main #page-title-inner-bg-text{
    width: 100%;
    top: 80px;
	display: flex;
	flex-flow: column;
}
main #page-title-inner-bg h1 {
    font-size: 38px;
    letter-spacing: 5px;
	line-height: 1;
}
main #page-title-inner-bg span {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
}
main #page-title-inner-bg-image {
    width: 861px;
}
main #page-title-inner-bg-sentences {
    height: 50px;
}
main .container h3{
	font-size: 24px;
    letter-spacing: 5px;
	margin-bottom: 30px;
}
main .container #page-content-inner {
    width: 100%;
    margin-top: 50px;
}
main .container #page-content {
	padding: 100px 0;
	margin: 0 auto 136px;
}
main .page-content-inner-block {
    width: 100%;
    margin: 30px 0 0 0;
}
main .page-content-inner-text {
    line-height: 2;
    font-size: 20px;
}
main #tab-content {
    width: 100%;
	height: 1500px;
}
main #performance-button {
    display: flex;
    flex-flow: row wrap;
	justify-content: space-between;
    margin: 0;
}
main .tab {
    padding: 100px 0;
}
main .tab::before {
    width: 960px;
}
main .tab::after {
    width: 960px;
    height: 50px;
    bottom: 0;
	top: 200px;
}
/*******************************
			ボタン1
*******************************/
.active .performance-button-name01 {
    width: 200px;
	height: 50px;
}
.active .btn-link01 {
    max-width: 320px;
    font-size: 24px;
}
.performance-button-name01 {
    width: 200px;
	height: 50px;
}
.performance-button-name01 a {
    max-width: 320px;
    font-size: 24px;
}
.btn-link01 {;
    max-width: 320px;
    font-size: 24px;
}
/*******************************
			ボタン2
*******************************/
.active .performance-button-name02 {
    width: 200px;
	height: 50px;
}
.active .btn-link02 {
    max-width: 320px;
    font-size: 24px;
}
.performance-button-name02 {
    width: 200px;
	height: 50px;
	margin-top: 0;
}
.performance-button-name02 a {
    width: 100%;
    max-width: 320px;
    font-size: 24px;
}
.btn-link02 {
    max-width: 320px;
    font-size: 24px;
}
/*******************************
			ボタン3
*******************************/
.active .performance-button-name03 {
    width: 200px;
	height: 50px;
}
.active .btn-link03 {
    max-width: 320px;
    font-size: 24px;
}
.performance-button-name03 {
    width: 200px;
	height: 50px;
	margin-top: 0;
}
.performance-button-name03 a {
    max-width: 320px;
    font-size: 24px;
}
.btn-link03 {;
    max-width: 320px;
    font-size: 24px;
}
/*******************************
			ボタン4
*******************************/
.active .performance-button-name04 {
    width: 200px;
	height: 50px;
}
.active .btn-link04 {
    max-width: 320px;
    font-size: 24px;;
}
.performance-button-name04 {
    width: 200px;
	height: 50px;
	margin-top: 0;
}
.performance-button-name04 a {
    max-width: 320px;
    font-size: 24px;
}
.btn-link04 {
    max-width: 320px;
    font-size: 24px;
}
/*******************************
	ボタンスタイルここまで
*******************************/
/*******************************
			タブ設定
*******************************/
main .tab-contener {
    display: flex;
    flex-flow: column;
}
.page-performance-content01 {
    padding: 100px 0;
}
.page-performance-block-contents {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-content: center;
}
.page-performance-text {
    width: 755px;
    line-height: 1.6;
    font-size: 16px;
}
.page-performance-content--text {
    font-size: 16px;
}
person-box {
    display: flex;
    flex-flow: column;
}
.page-performance-content-img {
    margin: 0 0 10px 0;
}
.name {
    text-align: center;
    line-height: 1.5;
}
.name p {
    font-size: 16px;
    font-weight: bold;
}
.name p span {
    font-size: 18px;
}
#page-performance-block02 {
    display: flex;
	flex-flow: column;
	padding: 200px 0 100px 0;
}
#page-performance-block02::before {
    width: 960px;
}
#page-performance-block02::after {
    width: 960px;
}
.page-performance-content-history {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 0 80px 0;
	align-items: center;
	width: 960px;
}
.page-performance-history-img {
    position: relative;
}
.page-performance-content02 {
    margin: 30px 0 0 0;
}
.page-performance-year {
    width: 100px;
}
.page-performance-history-title {
    margin: 0 0 10px 0;
}
.page-performance-history-title h2 {
    font-size: 18px;
    line-height: 1.3;
	margin: 0;
}
.page-performance-history-text {
    width: 800px;
    font-weight: bold;
    line-height: 1.6;
}
.page-performance-history-text p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
}
.position-list h2 {
    font-size: 18px;
}
#page-performance-block03 {
    padding: 136px 0;
}
#page-performance-block03 h3 {
    margin-bottom: 50px;
}
.page-performance-block03-list ul li {
    display: flex;
    flex-flow: nowrap;
    margin: 0 0 30px 0;
    justify-content: space-around;
}
.position-list {
    width: 120px;
}
.position-list h2 {
    font-size: 18px;
}
.name-list {
    width: 340px;
    line-height: 1.3;
    font-size: 16px;
}
.name-list p {
    font-size: 16px;
}
.position-list ul li:last-child {
	margin-bottom: 0;
}
#page-performance-block04::before {
    width: 960px;
}
.page-performance-block03-list {
    width: 960px;
    margin: 0;
}
.page-performance-block04-list {
    display: flex;
    flex-flow: column;
}
.page-performance-block04-list ul {
    display: flex;
    flex-flow: row wrap;
}
.page-performance-block04-list ul li {
    margin: 0 0 50px;
}
.company-name {
    font-size: 18px;
}
.address p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.3;
}
#footer-block {
    text-align: center;
    padding-top: 100px;
}
}
@media only screen and (min-width: 1281px) {
main {
    max-width: 960px;
	height: 5300px;
}
main #page-title-inner{
    width: 862px;
}
main #page-title-inner-icon {
	left: 30px;
	top: 60px;
	width: 160px;
}
main #page-title-aminal01 {
    right: 90px;
    top: 60px;
    width: 130px;
}
main #page-title-aminal02 {
    left: 80px;
    bottom: 60px;
    width: 100px;
}
main #page-title-inner-bg-text{
    width: 100%;
    top: 80px;
	display: flex;
	flex-flow: column;
}
main #page-title-inner-bg h1 {
    font-size: 38px;
    letter-spacing: 5px;
	line-height: 1;
}
main #page-title-inner-bg span {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
}
main #page-title-inner-bg-image {
    width: 861px;
}
main #page-title-inner-bg-sentences {
    height: 50px;
}
main .container h3{
	font-size: 24px;
    letter-spacing: 5px;
	margin-bottom: 30px;
}
main .container #page-content-inner {
    width: 100%;
    margin-top: 50px;
}
main .container #page-content {
	padding: 100px 0;
	margin: 0 auto 136px;
}
main .page-content-inner-block {
    width: 100%;
    margin: 30px 0 0 0;
}
main .page-content-inner-text {
    line-height: 2;
    font-size: 20px;
}
main #tab-content {
    width: 100%;
	height: 1500px;
}
main #performance-button {
    display: flex;
    flex-flow: row wrap;
	justify-content: space-between;
}
main .tab {
    padding: 100px 0;
}
main .tab::before {
    width: 960px;
}
main .tab::after {
    width: 960px;
    height: 50px;
    bottom: 0;
	top: 200px;
}
/*******************************
			ボタン1
*******************************/
.active .performance-button-name01 {
    width: 200px;
	height: 50px;
}
.active .btn-link01 {
    max-width: 320px;
    font-size: 24px;
}
.performance-button-name01 {
    width: 200px;
	height: 50px;
}
.performance-button-name01 a {
    max-width: 320px;
    font-size: 24px;
}
.btn-link01 {;
    max-width: 320px;
    font-size: 24px;
}
/*******************************
			ボタン2
*******************************/
.active .performance-button-name02 {
    width: 200px;
	height: 50px;
}
.active .btn-link02 {
    max-width: 320px;
    font-size: 24px;
}
.performance-button-name02 {
    width: 200px;
	height: 50px;
	margin-top: 0;
}
.performance-button-name02 a {
    width: 100%;
    max-width: 320px;
    font-size: 24px;
}
.btn-link02 {
    max-width: 320px;
    font-size: 24px;
}
/*******************************
			ボタン3
*******************************/
.active .performance-button-name03 {
    width: 200px;
	height: 50px;
}
.active .btn-link03 {
    max-width: 320px;
    font-size: 24px;
}
.performance-button-name03 {
    width: 200px;
	height: 50px;
	margin-top: 0;
}
.performance-button-name03 a {
    max-width: 320px;
    font-size: 24px;
}
.btn-link03 {;
    max-width: 320px;
    font-size: 24px;
}
/*******************************
			ボタン4
*******************************/
.active .performance-button-name04 {
    width: 200px;
	height: 50px;
}
.active .btn-link04 {
    max-width: 320px;
    font-size: 24px;;
}
.performance-button-name04 {
    width: 200px;
	height: 50px;
	margin-top: 0;
}
.performance-button-name04 a {
    max-width: 320px;
    font-size: 24px;
}
.btn-link04 {
    max-width: 320px;
    font-size: 24px;
}
/*******************************
	ボタンスタイルここまで
*******************************/
/*******************************
			タブ設定
*******************************/
main .tab-contener {
    display: flex;
    flex-flow: column;
}
.page-performance-content01 {
    padding: 100px 0;
}
.page-performance-block-contents {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-content: center;
}
.page-performance-text {
    width: 755px;
    line-height: 1.6;
    font-size: 16px;
}
.page-performance-content--text {
    font-size: 16px;
}
person-box {
    display: flex;
    flex-flow: column;
}
.page-performance-content-img {
    margin: 0 0 10px 0;
}
.name {
    text-align: center;
    line-height: 1.5;
}
.name p {
    font-size: 16px;
    font-weight: bold;
}
.name p span {
    font-size: 18px;
}
#page-performance-block02 {
    display: flex;
	flex-flow: column;
	padding: 200px 0 100px 0;
}
#page-performance-block02::before {
    width: 960px;
}
#page-performance-block02::after {
    width: 960px;
}
.page-performance-content-history {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 0 80px 0;
	align-items: center;
	width: 960px;
}
.page-performance-history-img {
    position: relative;
}
.page-performance-content02 {
    margin: 30px 0 0 0;
}
.page-performance-year {
    width: 100px;
}
.page-performance-history-title {
    margin: 0 0 10px 0;
}
.page-performance-history-title h2 {
    font-size: 18px;
    line-height: 1.3;
	margin: 0;
}
.page-performance-history-text {
    width: 800px;
    font-weight: bold;
    line-height: 1.6;
}
.page-performance-history-text p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
}
.position-list h2 {
    font-size: 18px;
}
#page-performance-block03 {
    padding: 136px 0;
}
#page-performance-block03 h3 {
    margin-bottom: 50px;
}
.page-performance-block03-list ul li {
    display: flex;
    flex-flow: nowrap;
    margin: 0 0 30px 0;
    justify-content: space-around;
}
.position-list {
    width: 120px;
}
.position-list h2 {
    font-size: 18px;
}
.name-list {
    width: 340px;
    line-height: 1.3;
    font-size: 16px;
}
.name-list p {
    font-size: 16px;
}
.position-list ul li:last-child {
	margin-bottom: 0;
}
#page-performance-block04 {
    padding: 200px 0;
}
#page-performance-block04::before {
    width: 960px;
	top: 0;
}
.page-performance-block03-list {
    width: 960px;
    margin: 0;
}
.page-performance-block04-list {
    display: flex;
    flex-flow: column;
}
.page-performance-block04-list ul {
    display: flex;
    flex-flow: row wrap;
}
.page-performance-block04-list ul li {
    margin: 0 0 50px;
}
.company-name {
    font-size: 18px;
}
.address p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.3;
}
#footer-block {
    text-align: center;
    padding-top: 100px;
}
}