@charset "UTF-8";
#wrapper {
    height: auto;
}
main #page-title{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
main #page-title-inner{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
main #page-title-inner-icon {
    position: absolute;
    z-index: 2;
    left: 30px;
    top: 50px;
    width: 16%;
    transform: scale(1);
    transition: all 1s;
    cursor: default;
}
main #page-title-inner-icon:hover {
    transform-origin: center;
    transform: scale(1.2);
    transition: all 1s;
}
main #page-title-aminal03 {
    position: absolute;
    z-index: 2;
    right: 60px;
    bottom: 20px;
    width: 18%;
    transform: scale(1);
    transition: all 1s;
    cursor: default;
}
main #page-title-aminal03:hover {
	transform-origin:center;
	transform:scale(1.2);
	transition: all 1s;
}
main #page-title-inner-bg{
    position: relative;
}
#page-title-inner-bg-image {
    width: 100%;
}
main #page-title-inner-bg-text{
	position: absolute;
    text-align: center;
    width: 100%;
    top: 40px;
	display: flex;
	flex-flow: column;
}
main #page-title-inner-bg h1 {
    font-size: 4vw;
    font-weight: bold;
    color: #4a9143;
    letter-spacing: 5px;
    line-height: 1;
}
main #page-title-inner-bg span {
    font-size: 3vw;
    color: #513813;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
main #page-title-inner-bg-sentences {
    height: 7vw;
}
main .container #page-content-inner {
    margin-top: 50px;
	width: 280px;
}
main .container #page-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
	height: auto;
	background-blend-mode: multiply;
	position: relative;
	margin: 0 auto 50px;
    padding: 100px 0 100px 0;
}
main .container #page-content::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	top:0;
	background-image: url("../images/top-about-overline.svg");
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
main .container #page-content::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	bottom:0;
	background-image: url("../images/top-about-underline.svg");
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
main .page-content-inner-block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 30px 0 0 0;
}
main .page-content-inner-text {
    text-align: center;
    line-height: 2;
    font-size: 3vw;
    font-weight: bold;
}
#tab-content {
    position: relative;
    width: 100%;
	height: 1500px;
}
#page-content h3 {
    font-size: 5vw;
    font-weight: bold;
    color: #4a9143;
    letter-spacing: 5px;
    line-height: 1;
    text-align: center;
}
#page-lecture-content-animetion {
    width: 100%;
    margin-bottom: 5%;
	text-align: center;
}
.page-content-inner-bg-sentences {
    width: 100%;
}
#performance {
    display: flex;
    flex-flow: column;
}
#performance-button {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    cursor: pointer;
    justify-content: space-between;
}
.page-performance-bg-img {
    width: 100%;
}
/*******************************
			ボタン1
*******************************/
.active .performance-button-name01 {
    width: 50%;
	height: auto;
	border-radius: 31px;
	border: 2px solid #fff;
	background-color: #418b8e;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}
.active .btn-link01 {
    width: 100%;
    height: auto;
    max-width: 100%;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #418b8e;
}
.performance-button-name01 {
    width: 50%;
	height: auto;
	border-radius: 31px;
	border: 2px solid #418b8e;
	transition: background-color 2s;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	transform-origin: 0 0 0;
	cursor: pointer;
	margin-bottom: 5px;
}
.performance-button-name01:hover {
    border-radius: 31px;
    border: 2px solid #fff;
}
.performance-button-name01::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
.performance-button-name01:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
    background-color: #fff;
}
.performance-button-name01 a span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.5;
    position: relative;
    overflow: hidden;
}
.performance-button-name01 a {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #fff;
}
.performance-button-name01:hover a {
    color: #fff;
}
.performance-button-name01 a:hover {
    opacity: 1;
    background-color: #418b8e;
}
.btn-link01 {
    width: 100%;
    height: auto;
    max-width: 100%;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
}
/*******************************
			ボタン2
*******************************/
.active .performance-button-name02 {
    width: 50%;
	height: auto;
	border-radius: 31px;
	border: 2px solid #fff;
	background-color: #418b8e;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}
.active .btn-link02 {
    width: 100%;
    height: auto;
    max-width: 100%;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #418b8e;
}
.performance-button-name02 {
    width: 50%;
	height: auto;
	border-radius: 31px;
	border: 2px solid #418b8e;
	transition: background-color 2s;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	transform-origin: 0 0 0;
	cursor: pointer;
	margin-bottom: 5px;
}
.performance-button-name02:hover {
    border-radius: 31px;
    border: 2px solid #fff;
}
.performance-button-name02::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
.performance-button-name02:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
    background-color: #fff;
}
.performance-button-name02 a span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.5;
    position: relative;
    overflow: hidden;
}
.performance-button-name02 a {
    width: 100%;
    height: auto;
    width: 100%;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #fff;
}
.performance-button-name02:hover a {
    color: #fff;
}
.performance-button-name02 a:hover {
    opacity: 1;
    background-color: #418b8e;
}
.btn-link02 {
    width: 100%;
    height: auto;
    width: 100%;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
}
/*******************************
			ボタン3
*******************************/
.active .performance-button-name03 {
    width: 50%;
	height: auto;
	border-radius: 31px;
	border: 2px solid #fff;
	background-color: #418b8e;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}
.active .btn-link03 {
    width: 100%;
    height: auto;
    max-width: 100%;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #418b8e;
}
.performance-button-name03 {
    width: 50%;
	height: auto;
	border-radius: 31px;
	border: 2px solid #418b8e;
	transition: background-color 2s;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	transform-origin: 0 0 0;
	cursor: pointer;
	margin-bottom: 5px;
}
.performance-button-name03:hover {
    border-radius: 31px;
    border: 2px solid #fff;
}
.performance-button-name03::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
.performance-button-name03:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
    background-color: #fff;
}
.performance-button-name03 a span {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.5;
    position: relative;
    overflow: hidden;
}
.performance-button-name03 a {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
	background-color: #fff;
}
.performance-button-name03:hover a {
    color: #fff;
}
.performance-button-name03 a:hover {
    opacity: 1;
    background-color: #418b8e;
}
.btn-link03 {
    width: 100%;
    height: auto;
    max-width: 320px;
    color: #418b8e;
    display: block;
    margin: 0 auto;
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-align: center;
}
/*******************************
	ボタンスタイルここまで
*******************************/
.page-performance-block {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column;
	margin-bottom: 10px;
}
.page-performance-content-block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
	margin: 0 0 10px 0;
	height: auto;
}
.page-performance-title {
    width: 450px;
	margin: 0;
}
.page-performance-title h2 {
font-size: 4vw;
font-weight: bold;
color: #418b8e;
letter-spacing: 3px;
line-height: 1.2;
margin-top: 3%;
}
.page-performance-title-text {
    margin-bottom: 10px;
}
.page-performance-text {
    line-height: 1.8;
	text-align: justify;
	font-size: 3vw;
}
.page-performance-img-block-title {
	background-color: #513813;
	text-align: center;
	padding: 6px;
	height: auto;
}
.page-performance-img-block h2 {
	color: #fff;
	font-size: 4vw;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 30px 0;
}
.page-performance-img-block {
    display: flex;
    flex-flow: column;
}
.page-performance-img-block ul {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.page-performance-img-block ul li {
    margin-bottom: 50px;
}
.page-performance-img {
    width: 100%;
}
.page-performance-img-ex {
    width: 100%;
    text-align: justify;
    margin-top: 10px;
	line-height: 1.6;
}
.page-performance-img-text {
    text-align: center;
}
.page-performance-img-text01 {
    width: 80%;
    margin: 0 0 10px;
}
.page-performance-img-text02 {
    width: 80%;
    margin: 0 0 10px;
}
.page-performance-img-text03 {
    width: 80%;
    margin: 0 0 10px;
}

/*選択されているタブのコンテンツのみを表示*/
.page-performance-block01,
.page-performance-block02,
.page-performance-block03 {
	display: none;
	position: absolute;
	width: 100%;
	height: auto;
}
.page-performance-block01.show,
.page-performance-block02.show,
.page-performance-block03.show {
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
}
@keyframes icon {
0% {
	transform:translateY(0);
	opacity:1;
}
10% {
	transform:translateY(-5px);
	opacity:1;
}
20% {
	transform:translateY(0px);
	opacity:1;
}
30% {
	transform:translateY(5px);
	opacity:1;
}
40% {
	transform:translateY(0);
	opacity:1;
}
100% {
	transform:translateY(0);
	opacity:1;
}
}
main .container #page-content-inner li .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
	z-index: 2;
	transform: translateY(-30px);
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
	z-index: 2;
	transform: translateY(-30px);
	transform-origin:center;
	animation:bubble 1s both infinite;
}
@keyframes bubble {
0% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
10% {
	transform:translateY(-30px)rotate(5deg);
	opacity:1;
}
20% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
30% {
	transform:translateY(-30px)rotate(-5deg);
	opacity:1;
}
40% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
100% {
	transform:translateY(-30px)rotate(0deg);
	opacity:1;
}
}
#location {
    padding: 50px 0;
    margin: 0 auto 136px;
    position: relative;
}
.location-title {
    text-align: center;
    margin: 0 0 30px;
    font-size: 5vw;
    font-weight: bold;
    color: #4a9143;
    letter-spacing: 5px;
    line-height: 1;
}
.location-contener {
    display: flex;
    flex-flow: column;
    width: 100%;
    /*! margin: 0 auto; */
}
.location-content-img-box {
    width: 100%;
    margin: 0 0 50px;
}
.location-content-img-box #location-contener-img {
    width: 100%;
}
.location-content:last-child {
    margin-bottom: 0;
}
.location-content:nth-child(2) {
    margin-bottom: 0;
}
.location-content:nth-child(3) {
    margin-right: 0;
}
.location-content-title {
    background-color: #513813;
    text-align: center;
    padding: 6px;
    height: auto;
    border-radius: 30px;
    margin-bottom: 10px;
}
.location-content-title-text {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    line-height: 1.5;
}
.location-content-title-text span {
    font-size: 3vw;
}
#award {
    padding: 100px 0;
    margin: 0 auto 136px;
}
.award-title {
    text-align: center;
    margin: 0 0 30px;
    font-size: 5vw;
    font-weight: bold;
    color: #4a9143;
    letter-spacing: 5px;
    line-height: 1;
}
.award-title-text {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 0 30px 0;
}
.award-contener {
    display: flex;
    flex-flow: column;
	margin-bottom: 100px;
}
.award-content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.aword-contener-img {
    width: 20vw;
	margin-bottom: 10px;
}
#award .button{
	width: 100%;
	height: auto;
	transition: background-color 2s;
	display: block;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	max-width: 600px;
	margin: 0 auto;
	transform-origin: 0 0 0;
	z-index: 1;
	border-radius: 31px;
	border: 2px solid #fff;
	cursor: pointer;
}
#award .button:hover{
	border-radius: 31px;
	border: 2px solid #fd9945;
}
#award .button:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
}
#award .button::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right top;
    transform: skewX(0deg) scale(0, 1);
    transition: transform 0.5s;
}
#award .button:hover::before {
    transform-origin: left top;
    transform: skewX(0deg) scale(1, 1);
	background-color: #fff;
}
#award .button a {
    width: 100%;
    height: 40px;
    max-width: 600px;
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    background-color: #fd9945;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
#award .button:hover a {
    color: #fd9945;
}
#award .button a:hover{
	opacity: 1;
	background-color: transparent;
}
#award .button a span {
    width: auto;
    height: auto;
    display: block;
    line-height: 2.5;
	position: relative;
	overflow: hidden;
    font-size: 3vw;
	margin: 4px 0;
}
#award .button a span::after {
    content: "";
    width: 12px;
    height: 12px;
    border: 0px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    margin-top: -7px;
	right: 30px;
	transition: border 2s;
}
#award .button a:hover span::after {
    border-top: solid 2px #fd9945;
    border-right: solid 2px #fd9945;
	transition: border 2s;
}
.page-performance-img-text01-2 {
    width: 80%;
    margin: 0 0 10px;
}
.page-performance-img-text02-2 {
    width: 80%;
    margin: 0 0 10px;
}
.page-performance-img-text03-2 {
    width: 80%;
    margin: 0 0 10px;
}
.page-performance-block03 {
    margin: 0 0 136px;
}
.page-performance-img-text01-3 {
    width: 80%;
    margin: 0 0 10px;
}
.page-performance-img-text02-3 {
    width: 80%;
    margin: 0 0 10px;
}
.page-performance-img-text03-3 {
    width: 80%;
    margin: 0 0 10px;
}
/*******************************
			タブ設定
*******************************/
.tab-content {
    display: none;
}
.tab-switch:checked+.tab-label+.tab-content {
    display: block;
}
.tab-wrap { 
    display: flex;
    flex-wrap: wrap;
}
.tab-label {
    order: -1;
}
#footer-block {
    padding-top: 2700px;
}
@media only screen and (min-width: 600px) {
main {
    width: 100%;
    padding: 170px 30px 30px;
}
main #page-title-inner {
    width: 100%;
}
main #page-title-inner-icon {
    left: 100px;
}
main #page-title-aminal03 {
	bottom: 40px;
	right: 120px;
}
main #page-title-inner-bg-text {
    top: 60px;
}
main #page-title-inner-bg h1 {
    font-size: 3.2vw;
}
main #page-title-inner-bg span {
    font-size: 2vw;
    margin-bottom: 2%;
}
main #page-title-inner-bg-sentences {
    height: 4vw;
}
#page-title-inner-bg-image {
    width: 80%;
}
main .container {
    padding: 50px 0 0 0;
}
main .page-content-inner-text{
	font-size: 1.4vw;
}
main .container #page-content {
    flex-flow: column;
    margin: 0 auto 100px;
}
#page-lecture-content-animetion {
    text-align: center;
}
#page-content h3 {
    font-size: 24px;
}
#performance-button {
    flex-flow: row wrap;
	margin-bottom: 100px;
}
.page-content-inner-bg-sentences {
    width: 80%;
}
main .performance-button-name01.active {
	width: 30%;
	height: auto;
	margin-bottom: 0;
}
main .performance-button-name01 {
	width: 30%;
	height: auto;
	margin-bottom: 0;
}
main .performance-button-name01 a {
    font-size: 15px;
}
main .active .btn-link01 {
    font-size: 15px;
}
main .performance-button-name02 .active {
	width: 30%;
	height: auto;
	margin-bottom: 0;
}
main .performance-button-name02 {
	width: 30%;
	height: auto;
	margin-bottom: 0;
}
main .performance-button-name02 a {
    font-size: 15px;
}
main .active .btn-link02 {
    font-size: 15px;
}
main .performance-button-name03 .active {
	width: 30%;
	height: auto;
	margin-bottom: 0;
}
main .performance-button-name03 {
	width: 30%;
	height: auto;
	margin-bottom: 0;
}
main .performance-button-name03 a {
    font-size: 15px;
}
main .active .btn-link03 {
    font-size: 15px;
}
.page-performance-title {
    width: 480px;
	margin: 0 auto;
}
.page-performance-img-block ul {
    flex-flow: row nowrap;
}

.page-performance-img-block ul li {
    margin-bottom: 50px;
	width: 30%
}
.page-performance-content-block {
    width: 100%;
	height: auto;
}
.page-performance-content-img {
    margin: 0 auto;
}
.page-performance-bg-img {
    width: 480px;
}
.page-performance-title h2 {
    font-size: 2vw;
}
.page-performance-text {
    font-size: 1.5vw;
}
.page-performance-img-block h2 {
    font-size: 2.6vw;
}
.page-performance-img-text01 {
    height: 2vw;
}
.page-performance-img-text02 {
    height: 2vw;
}
.page-performance-img-text03 {
    height: 2vw;
}
.location-contener {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.location-content {
    margin-right: 0;
	width: 45%;
}
.location-content-title-text {
    font-size: 1vw;
}
.location-content-title-text span {
    font-size: 2vw;
}
.location-title {
    font-size: 24px;
}
.aword-contener-img {
    width: 21vw;
}
#award .button a span {
    font-size: 18px;
}
#footer-block {
    padding-top: 2000px;
}
}
@media only screen and (min-width: 1024px) {
main{
	width: 960px;
	padding: 30px 0;
}
main #page-title{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
main #page-title-inner{
    width: 862px;
}
main #page-title-inner-icon {
	left: 30px;
	top: 60px;
	width: 160px;
}
main #page-title-aminal03 {
    position: absolute;
	z-index: 2;
	right: 50px;
	bottom: 80px;
	width: 200px;
	transform: scale(1);
	transition: all 1s;
	cursor: pointer;
}
main #page-title-aminal03:hover {
	transform-origin:center;
	transform:scale(1.2);
	transition: all 1s;
}
main #page-title-inner-bg{
    position: relative;
}
main #page-title-inner-bg-text{
    top: 80px;
}
main #page-title-inner-bg h1 {
    font-size: 38px;
}
main #page-title-inner-bg span {
    font-size: 14px;
}
#page-title-inner-bg-image {
    width: 100%;
}
main .container h3{
	font-size: 24px;
}
main .page-content-inner-text {
    font-size: 20px;
}
main #page-title-inner-bg-sentences {
    height: 60px;
}
main .container #page-content {
	padding: 100px 0;
	margin: 0 auto 136px;
}
main .container #page-content h3 {
    font-size: 24px;
}
main .page-content-inner-block {
    display: flex;
    flex-flow: wrap;
    margin: 30px 0 0 0;
}
#tab-content {
	height: 1500px;
}
main .performance-button-name01.active {
	width: 30%;
	height: 50px;
}
main .performance-button-name01 {
	width: 30%;
	height: 50px;
}
main .performance-button-name01 a {
    font-size: 24px;
}
main .active .btn-link01 {
    font-size: 24px;
}
main .performance-button-name02 .active {
	width: 30%;
	height: 50px;
}
main .performance-button-name02 {
	width: 30%;
	height: 50px;
}
main .performance-button-name02 a {
    font-size: 24px;
}
main .active .btn-link02 {
    font-size: 24px;
}
main .performance-button-name03 .active {
	width: 30%;
	height: 50px;
}
main .performance-button-name03 {
	width: 30%;
	height: 50px;
}
main .performance-button-name03 a {
    font-size: 24px;
}
main .active .btn-link03 {
    font-size: 24px;
}
.page-performance-block {
	display: flex;
	flex-flow: column;
}
.page-performance-content-block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
	margin: 0 0 10px 0;
	height: 330px;
}
.page-performance-title {
    width: 450px;
	margin: 0;
}
.page-performance-title h2 {
font-size: 24px;
}
.page-performance-img-block h2 {
	font-size: 20px;
}
.page-performance-img-block {
    display: flex;
    flex-flow: column;
}
.page-performance-img-block ul {
    flex-flow: row wrap;
	width: 960px;
}
.page-performance-bg-img {
    width: 480px;
}
.page-performance-img-ex {
    width: 280px;
}
.page-performance-img-text01 {
    width: 200px;
    margin: 0 40px 10px;
}
.page-performance-img-text02 {
    width: 200px;
    margin: 0 40px 10px;
}
.page-performance-img-text03 {
    width: 260px;
    margin: 0 10px 10px;
}
main .container #page-content-inner li .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
	z-index: 2;
	transform: translateY(-30px);
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-speechbubble {
    width: 200px;
}
#location {
    padding: 100px 0;
    margin: 0 auto 136px;
}
.location-title {
	margin: 0 0 30px;
}
.location-contener {
	width: 960px;
    display: flex;
    flex-flow: wrap;
	justify-content: start;
}
.location-content {
    margin: 0 60px 20px 0;
	width: auto;
}
.location-content-title {
    border-radius: 30px;
    margin-bottom: 10px;
}
.location-content-title-text {
    font-size: 14px;
}
.location-content-title-text span {
    font-size: 18px;
}
#award {
    padding: 100px 0;
    margin: 0 auto 136px;
}
.award-title {
	margin: 0 0 30px;
}
.award-contener {
    display: flex;
    flex-flow: column;
}
.award-content {
    display: flex;
    flex-flow: wrap;
}
.aword-contener-img {
    width: 200px;
	margin-bottom: 10px;
}
#award .button{
	max-width: 600px;
}
#award .button a{
	font-size: 24px;
	height: 60px;
}
#award .button a span::after {
    content: "";
    width: 14px;
    height: 14px;
}
.page-performance-text {
    font-size: 16px;
}
.page-performance-img-text01-2 {
    width: 200px;
    margin: 0 40px 10px;
}
.page-performance-img-text02-2 {
    width: 220px;
    margin: 0 20px 10px;
}
.page-performance-img-text03-2 {
    width: 200px;
    margin: 0 40px 10px;
}
.page-performance-block03 {
    margin: 0 0 136px;
}
.page-performance-img-text01-3 {
    width: 220px;
    margin: 0 20px 10px;
}
.page-performance-img-text02-3 {
    width: 260px;
    margin: 0 10px 10px;
}
.page-performance-img-text03-3 {
    margin: 0 0 10px 0;
}
/*******************************
			タブ設定
*******************************/
.tab-content {
    display: none;
}
.tab-switch:checked+.tab-label+.tab-content {
    display: block;
}
.tab-wrap { 
    display: flex;
    flex-wrap: wrap;
}
#award .button a span {
    margin:8px 0;
}
#footer-block {
    padding-top: 300px;
}
}
@media only screen and (min-width: 1281px) {
main #page-title{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
main #page-title-inner{
    width: 862px;
}
main #page-title-inner-icon {
	left: 30px;
	top: 60px;
	width: 160px;
}
main #page-title-aminal03 {
    position: absolute;
	z-index: 2;
	right: 50px;
	bottom: 80px;
	width: 200px;
	transform: scale(1);
	transition: all 1s;
	cursor: pointer;
}
main #page-title-aminal03:hover {
	transform-origin:center;
	transform:scale(1.2);
	transition: all 1s;
}
main #page-title-inner-bg{
    position: relative;
}
main #page-title-inner-bg-text{
    top: 80px;
}
main #page-title-inner-bg h1 {
    font-size: 38px;
}
main #page-title-inner-bg span {
    font-size: 14px;
}
main .container h3{
	font-size: 24px;
}
main .page-content-inner-text {
    font-size: 20px;
}
main #page-title-inner-bg-sentences {
    height: 60px;
}
main .container #page-content {
	padding: 100px 0;
	margin: 0 auto 136px;
}
main .page-content-inner-block {
    display: flex;
    flex-flow: wrap;
    margin: 30px 0 0 0;
}
#tab-content {
	height: 1500px;
}
main .performance-button-name01.active {
	width: 30%;
	height: 50px;
}
main .performance-button-name01 {
	width: 30%;
	height: 50px;
}
main .performance-button-name01 a {
    font-size: 24px;
}
main .active .btn-link01 {
    font-size: 24px;
}
main .performance-button-name02 .active {
	width: 30%;
	height: 50px;
}
main .performance-button-name02 {
	width: 30%;
	height: 50px;
}
main .performance-button-name02 a {
    font-size: 24px;
}
main .active .btn-link02 {
    font-size: 24px;
}
main .performance-button-name03 .active {
	width: 30%;
	height: 50px;
}
main .performance-button-name03 {
	width: 30%;
	height: 50px;
}
main .performance-button-name03 a {
    font-size: 24px;
}
main .active .btn-link03 {
    font-size: 24px;
}
.page-performance-block {
	display: flex;
	flex-flow: column;
}
.page-performance-content-block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
	margin: 0 0 10px 0;
	height: 330px;
}
.page-performance-title {
    width: 450px;
	margin: 0;
}
.page-performance-title h2 {
font-size: 24px;
}
.page-performance-img-block h2 {
	font-size: 20px;
}
.page-performance-img-block {
    display: flex;
    flex-flow: column;
}
.page-performance-img-block ul {
    flex-flow: row wrap;
	width: 960px;
}
.page-performance-bg-img {
    width: 480px;
}
.page-performance-img-ex {
    width: 280px;
}
.page-performance-img-text01 {
    width: 200px;
    margin: 0 40px 10px;
}
.page-performance-img-text02 {
    width: 200px;
    margin: 0 40px 10px;
}
.page-performance-img-text03 {
    width: 260px;
    margin: 0 10px 10px;
}
main .container #page-content-inner li .page-content-inner-block .page-content-speechbubble {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
	z-index: 2;
	transform: translateY(-30px);
}
main .container #page-content-inner li:hover .page-content-inner-block .page-content-speechbubble {
    width: 200px;
}
#location {
    padding: 100px 0;
    margin: 0 auto 136px;
}
.location-title {
	margin: 0 0 30px;
}
.location-contener {
	width: 960px;
    display: flex;
    flex-flow: wrap;
	justify-content: start;
}
.location-content {
    margin: 0 60px 20px 0;
}
.location-content-title {
    border-radius: 30px;
    margin-bottom: 10px;
}
.location-content-title-text {
    font-size: 14px;
}
.location-content-title-text span {
    font-size: 18px;
}
#award {
    padding: 100px 0;
    margin: 0 auto 136px;
}
.award-title {
	margin: 0 0 30px;
}
.award-contener {
    display: flex;
    flex-flow: column;
}
.award-content {
    display: flex;
    flex-flow: wrap;
}
.aword-contener-img {
    width: 200px;
	margin-bottom: 10px;
}
#award .button{
	max-width: 600px;
}
#award .button a{
	font-size: 24px;
	height: 60px;
}
#award .button a span::after {
    content: "";
    width: 14px;
    height: 14px;
}
.page-performance-img-text01-2 {
    width: 200px;
    margin: 0 40px 10px;
}
.page-performance-img-text02-2 {
    width: 220px;
    margin: 0 20px 10px;
}
.page-performance-img-text03-2 {
    width: 200px;
    margin: 0 40px 10px;
}
.page-performance-block03 {
    margin: 0 0 136px;
}
.page-performance-img-text01-3 {
    width: 220px;
    margin: 0 20px 10px;
}
.page-performance-img-text02-3 {
    width: 260px;
    margin: 0 10px 10px;
}
.page-performance-img-text03-3 {
    margin: 0 0 10px 0;
}
/*******************************
			タブ設定
*******************************/
.tab-content {
    display: none;
}
.tab-switch:checked+.tab-label+.tab-content {
    display: block;
}
.tab-wrap { 
    display: flex;
    flex-wrap: wrap;
}
#footer-block {
    padding-top: 300px;
}
}